@model BesyProject.Models.Servico

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando os dados do Serviço";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Editando dados do Servico
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <h4 class="teste1">Serviço</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ServicoId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="panel-footer panel-info">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit"
                               value="Gravar alterações"
                               class="btn btn-info" />
                        @Html.ActionLink(
                       "Retornar para a listagem de Servicos",
                       "Index", null, new { @class = "btn btn-warning" })
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

}


                @section ScriptPage {
                    <script src="~/Scripts/jquery.validate.min.js">
                    </script>
                    <script src="~/Scripts/jquery.validate.unobtrusive.min.js">
                    </script>
                }

