<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>

    <nav id="menu">
        <ul>
            <li class="@(Context.Request.Path.Contains("Administracao") ? "active" : "")" role="presentation">@Html.ActionLink("Administracao", "Index", "Administracao")</li>
            <li class="@(Context.Request.Path.Contains("Servicos") ? "active" : "")" role="presentation">@Html.ActionLink("Servicos", "Index", "EmpresasPorServicos")</li>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </ul>
    </nav>
   

    <div class="container">
        <div class="row">
            <div class="page-header bg-danger">
                <h1 style="text-align:center">
                    Besy!
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-md-12">
                @RenderBody()
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12 bg-danger">
                <small class="teste">Solicite seu serviço</small>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    @RenderSection("ScriptPage", false)
</body>
</html>