@model BesyProject.Models.Empresa

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Visualizando dados da Empresa";
}

<div class="panel panel-primary">
	<div class="panel-heading">
		Dados do fabricante a ser removido
	</div>
	<div class="panel-body">
			<!-- #Panel Nome -->
			<div class="form-group">
				@Html.LabelFor(model => model.Nome)
				<br />
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon
                       glyphicon-user"></i>
					</span>
					@Html.EditorFor(model => model.Nome,
         new
         {
             htmlAttributes = new
             {
                 @class = "form-control",
                 disabled = "disabled"
             }
         })
				</div>
			</div>
			<!-- #endregion -->


			<!-- #Panel Endereco -->
			<div class="form-group">
				@Html.LabelFor(model => model.Endereco)
				<br />
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon
                       glyphicon-globe"></i>
					</span>
					@Html.EditorFor(model => model.Endereco,
         new
         {
             htmlAttributes = new
             {
                 @class = "form-control",
                 disabled = "disabled"
             }
         })
				</div>
			</div>
			<!-- #endregion -->


			<!-- #Panel Telefone -->
			<div class="form-group">
				@Html.LabelFor(model => model.Telefone)
				<br />
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon
            glyphicon-phone"></i>
					</span>
					@Html.EditorFor(model => model.Telefone,
         new
         {
             htmlAttributes = new
             {
                 @class = "form-control",
                 disabled = "disabled"
             }
         })
				</div>
			</div>
			<!-- #endregion -->


			<!-- #Panel CPF -->
			<div class="form-group">
				@Html.LabelFor(model => model.Cnpj)
				<br />
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon
            glyphicon-list-alt"></i>
					</span>
					@Html.EditorFor(model => model.Cnpj,
         new
         {
             htmlAttributes = new
             {
                 @class = "form-control",
                 disabled = "disabled"
             }
         })
				</div>
			</div>
			<!-- #endregion -->


			<!-- #Panel Especialidade -->
			<div class="form-group">
				@Html.LabelFor(model => model.Especialidade)
				<br />
				<div class="input-group">
					<span class="input-group-addon">
						<i class="glyphicon
            glyphicon-list-alt"></i>
					</span>
					@Html.EditorFor(model => model.Especialidade,
         new
         {
             htmlAttributes = new
             {
                 @class = "form-control",
                 disabled = "disabled"
             }
         })
				</div>
			</div>
			<!-- #endregion -->

		<!-- #Panel Footer-->
		<div class="panel-footer panel-info">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">Remover EMPRESA</a>
					@Html.ActionLink(
			   "Retornar para a listagem",
			   "Index", null, new
			   {
				   @class =
			   "btn btn-info"
			   })
			}
		</div>

		<!-- #endregion-->





        <div class="modal	fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-ELTEismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">Confirmação	de	exclusão	de Serviço</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Você	está	prestes	a	remover	a empresa	@Model.Nome.ToUpper() do registro.
                        </p><p>
                            <strong>
                                Você	está	certo	que	deseja	prosseguir?
                            </strong>
                        </p>
                        @using (Html.BeginForm("Delete", "Empresas", FormMethod.Post,
    new { @id = "delete-form", role = "form" }))
                        {
                            @Html.HiddenFor(m => m.EmpresaId)
                            @Html.AntiForgeryToken()
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="$('#delete-form').submit();">
                            Sim, exclua esta empresa.
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Não, não exclua esta empresa.
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @section ScriptPage	{
            <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liEmpresas').addClass("active");
        });
            </script> }